<!DOCTYPE html>
<html>
<head>
    <title>QuPath Editori</title>
    <script src="https://cdn.ckeditor.com/4.11.1/standard-all/ckeditor.js"></script>
    <script>
        var project_dir = "{{qupath-project-dir}}";
        var images = {{qupath-images-json}};
        var dialogOpenedOnce = false;

        var CKEDITOR_IMAGE_URL_CONTAINER = ".cke_dialog_image_url";
        var CKEDITOR_IMAGE_URL_INPUT     = ".cke_dialog_ui_input_text input";
    </script>
</head>
<body>

<textarea cols="80" id="editor" name="editor" rows="20">{{qupath-image-description}}</textarea>

<script>
    CKEDITOR.disableAutoInline = true;

    CKEDITOR.replace('editor', {
        extraPlugins: 'sourcedialog,image2',
        removePlugins: 'sourcearea,scayt,wsc,elementspath',
        removeButtons: 'Anchor,Spell Checker,Maximize,About'
    });

    CKEDITOR.instances["editor"].on('change', function() {
        document.getElementById("editor").innerHTML = CKEDITOR.instances.editor.getData();
    });

    CKEDITOR.instances["editor"].on("dialogShow", function(dialog) {
        if (dialog.data.definition.title !== "Image Properties" || dialogOpenedOnce) {
            return;
        }

        dialogOpenedOnce = true;
        let element = document.querySelectorAll(CKEDITOR_IMAGE_URL_CONTAINER)[0];
        let HTML = "";

        HTML += `
			<label> ... or select image from project</label><br>
			<select class="cke_dialog_ui_input_select" onChange="addImage(this.value)">
			<option>Select image</option>
        `;

        images.forEach(i => {
            HTML += ('<option>' + i + '</option> ');
        });

        HTML += '</select>';

        element.innerHTML += HTML;
    });

    function addImage(value) {
        let text = (value === "Select image") ? "" : (project_dir + value);
        let element = document.querySelectorAll(CKEDITOR_IMAGE_URL_INPUT)[0];

        element.value = text;
    }
</script>
</body>
</html>
